@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

/* this is a CSS comment */
/* Select elements by Typ */ 

Body {
    font-family: "Playwrite GB S", cursive;
    background-color: darkcyan;
}

p {
    color:rgb(73, 28, 235);
}


h1,h2, h3, h4 { 
    font-family: "Playwrite GB S", cursive;
    color:Lucida Sans;
}

h1{
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-bottom: 100px;
}

/*TIP: put images in <div class='centered container in your HTML document */
.centered {
    text-align: center;
    margin:auto;
}